node_modules
.env
.env.*
!.env.example
dist
/src/generated
/logs
.vscode
build
coverage
.DS_Store
*.log
*.tsbuildinfo
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
.pnp-debug.log*
.yarn-debug.log*
.yarn-error.log*
npm-debug.log*
*.pem
.pnpm-store